HTML/XML/docXSDEjemplo.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ciudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ciudad">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="pais" type="xs:string" />
              <xs:element name="continente" type="xs:string" />
              <xs:element name="habitantes" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="optional" />
            <xs:attribute name="pais" type="xs:string" use="optional" />
            <xs:attribute name="continente" type="xs:string" use="optional" />
            <xs:attribute name="habitantes" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>